extra_zshrc.zsh
extra_bashrc.zsh
output_zshrc.zsh
output_bashrc.zsh
extra-setup.zsh
nvim/plugin/packer_compiled.lua
nvim/lua/not_pushed
nvim/plugin/not_pushed
nvim/after/lua/not_pushed
nvim/after/plugin/not_pushed
nvim/lazy-lock.json
