source ~/.commonvimrc

set idea.config.path

" fix the lack of <cmd> support in IdeaVim
nmap <Space>wo :vsplit<CR><C-w>l
nmap <Space>ws :split<CR><C-w>j

nmap <Space>to :tabnew<CR>
nmap <Space>tc :tabclose<CR>
nmap <Space>tp :tabonly<CR>
nmap <Space>tl :tabnext<CR>
nmap <Space>th :tabprevious<CR>
nmap <Space>tn :+tabmove<CR>
nmap <Space>tN :-tabmove<CR>

nmap <Space>fg <Action>(FindInPath)
nmap <Space>fc <Action>(GotoClass)
nmap <Space>ff <Action>(GotoFile)
nmap <Space>fa <Action>(GotoAction)
nmap <Space>fr <Action>(RecentFiles)
nmap <Space>vrn <Action>(RenameElement)
nmap <Space>vca <Action>(GotoAction)
nmap gi <Action>(ReSharperGotoImplementation)
nmap gr <Action>(FindUsages)
nmap <Space>db <Action>(ToggleLineBreakpoint)

nmap <Space>so :source ~/.ideavimrc<CR>
